@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}

/* wait_photo */
.wait_photo{width:1200px;margin:0 auto;}
.wait_photo li{ margin-top:5px;margin-left:5px;float:left;height:253px;display:none;}
.wait_photo .page_photo {width:480px;margin-top:5px;height:510px;}
.wait_photo li img{ height:253px;width:332px;}
.wait_photo .page_photo img {height:510px;width:480px;}

.page_photo_san{margin-top:-253px;}

